/* index.css */

@font-face {
  font-family: "CyberwayRiders";
  src: url("/fonts/cyberway-riders.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

.letters{ 
  font-family: "CyberwayRiders", sans-serif;
}



