@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");

@font-face {
  font-family: "Pricedown";
  src: url("/fonts/pricedown-bl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.marquee {
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  /* font-size: 9rem; */
}

.marquee {
  opacity: 0; /* Initially hidden */
  transform: scale(0.5); /* Initially scaled down */
  will-change: opacity, transform; /* Optimize animation performance */
}

.marqueecont {
  /* Other styles for the marquee container */
  overflow: hidden;
  position: relative;
}
