@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/pricedown');

@font-face {
    font-family: "Pricedown";
    src: url("/fonts/pricedown-bl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    background-color: black;
  }
  